language: php

sudo: false

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - hhvm

env:
  - SYMFONY_VERSION=2.3.*
  - SYMFONY_VERSION=2.7.*

cache:
  directories:
    - $HOME/.composer/cache

before_install:
  - composer selfupdate
  - composer require symfony/symfony:${SYMFONY_VERSION} --no-update

install: composer update --prefer-dist --no-interaction

script: phpunit --coverage-clover=coverage.clover

after_script:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover coverage.clover
